<div class="inicio">
  <div class="inicio-contenido">
    <form (ngSubmit)="crearParqueadero()">
      <br>
      <div>
        <label for="placa">Placa * :</label>
        <input type="text" id="placa" name="placa" [(ngModel)]="parqueaderoDatos.placa" maxlength="6">
      </div>
      <div>
        <label for="tipoVehiculo">Tipo Vehiculo * :</label>
        <select class="browser-default" id="tipoVehiculo" name="tipoVehiculo"
          [(ngModel)]="parqueaderoDatos.tipoVehiculo">
          <option value="" disabled selected>Escoge el tipo de vehiculo</option>
          <option value="CARRO">CARRO</option>
          <option value="MOTO">MOTO</option>
        </select>
      </div>
      <div *ngIf="parqueaderoDatos.tipoVehiculo==='MOTO'">
        <label for="cilindraje">Cilindraje * :</label>
        <input type="number" id="cilindraje" name="cilindraje" [(ngModel)]="parqueaderoDatos.cilindraje" maxlength="4">
      </div>
      <br>
      <div class="button">
        <button type="submit" id="btnIngresar">Ingresar vehiculo</button>
      </div>
    </form>
  </div>
</div>
